---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="O mnie" description="About page">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="Par s贸w o mnie..." tagline="...i Przepiniku Szczcia">
				<img
					width="1553"
					height="873"
					src="/assets/kasia2.jpg"
					alt="A beautiful blonde girl in front of greenhouse cabinets full of plants"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Long story...</h2>
				<div class="content">
					<p>
						<i
							>Na co dzie zajmuj si kreatywnymi rzeczami, kt贸re czsto
							zapomniane, gniot si w r贸偶nych folderach mojego dysku. Std
							pomys by stworzy Przepinik Szczcia, moje miejsce w sieci, w
							kt贸rym dzieli si bd z Tob piknymi rzeczami. Mam nadziej, 偶e
							poczujesz si tutaj komfortowo i zostaniesz ze mn na du偶ej.</i
						>
					</p>
					<br />
					<p>
						Powy偶szy akapit napisaam wiele lat temu, nie wiedzc do koca, czym
						Przepinik Szczcia miaby by. A, w swojej historii, by on
						blogiem o motywacji, sprzedawc zaprosze weselnych na Allegro,
						fanpagem Allo Allo na Facebooku, frontend developerem, pracownikiem
						biurowym, grafikiem na zawoanie, edytorem film贸w, nieziszczonym
						marzeniem.
					</p>
					<br />
					<p>
						Jak si z czasem okazao, pora偶ki stanowi wietne podo偶e dla
						sukcesu, bo tylko ten si nie myli, kto nic nie robi.
					</p>
					<br />
					<p>
						Obecnie Przepinik Szczcia to wielotysiczna spoeczno skupiona
						wok贸 profili na <a
							href="https://www.instagram.com/przepisnik_szczescia/"
							target="_blank">Instagramie</a
						>, <a
							href="https://www.tiktok.com/@przepisnik_szczescia"
							target="_blank">TikToku</a
						> i <a
							href="https://www.threads.net/@przepisnik_szczescia"
							target="_blank">Threads</a
						>. To pr偶nie rozwijajcy si <a
							href="https://www.youtube.com/@przepisnik_szczescia"
							target="_blank">kana na YouTube</a
						> oraz <a
							href="https://www.sklep.przepisnikszczescia.pl/"
							target="_blank">sklep internetowy z moimi autorskimi pracami</a
						>. A czym bdzie Przepinik Szczcia w przyszoci? Zosta ze mn
						na du偶ej, a na pewno Ci jeszcze niejednym zaskocz!
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">...short</h2>
				<div class="content">
					<p>
						Jestem Kasia, a Przepinik Szczcia to moje miejsce w sieci przepenione:
						<ul>
							<li>hydroponik </li>
							<li>rolinami </li>
							<li>ilustracjami i (nie)zwyk codziennoci </li>
						</ul>
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
